<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="#">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/ico.png">
  	<link rel="icon" type="image/png" href="/img/ico.png">
	<title>Mármoles La Moderna</title>
	<!-- CSS -->
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,300italic,300,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body class="frontpage">
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div class="menu-outer">
		<div class="menu-icon">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
		<nav>
			<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a target="_blank" href="https://www.wowthemes.net/themes/beauttio/">WP Version</a></li>
		</ul>
	</nav>
	</div>
	<a class="menu-close" onClick="return true">
		<div class="menu-icon">
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
	</a>
	<div class="fixedcallicon">
		<i class="fa fa-phone"></i><span class="hide">Teléfono:(03492)423062</span>
	</div>
	<div class="container">
		<section class="background">
		<div class="content-wrapper">
			<div class="intro">
				<h1><span class="smaller wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5">bv. G. Lehmann 875 Rafaela SANTA FE 2300</span>
				<span class="small wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">Mármoles</span><br/>
				<span class="big wow pulse" data-wow-duration="2s" data-wow-delay="0.5s">La Moderna</span>
				</h1>
			</div>
		</div>
		</section>
		<section class="background">
		<div class="content-wrapper">
			<div class="about">
				<div class="aboutbadge">
					<span><br/>
					<span class="border">Nuestra Empresa</span>
					</span>
				</div>
				<div class="aboutbadge black">
					<span>Nuestra empresa, Mármoles La Moderna, fue fundada en el año 1921 por Raymundo A. Ferpozzi, hijo de Luis José Ferpozzi. Iniciamos en la ciudad de Rafaela como la primera marmolería de la zona, construyendo un gran legado familiar de artesanos del mármol.</span>
				</div>
			</div>
		</div>
		</section>
		<section class="background">
		<div class="content-wrapper">
			<div class="voucher">
				<div class="voucher-whitetransparent">
					<h2></i><br/>Materiales<br/>Estamos especializados en Mármoles,Granitos y Silestone.<br/>
					<a href="#slide6">Catálogo</a></h2>
				</div>
			</div>
		</div>
		</section>
		<section class="background">
		<div class="content-wrapper">
			<div class="pricingbadge">
				<h4>Nuestros Servicios</h4>
				<ul>
					<li>
						Baños
					</li>
					<li>
						Cocinas
					</li>
					<li>
						Escaleras
					</li>
					<li>
						Revestimientos
					</li>
					<li>
						Arte fúnebre
					</li>
					<a class="fullpricelist" href="#"><i class="fa fa-file-pdf-o"></i> Ver Precios</a>
				</ul>
			</div>
		</div>
		</section>
		<section class="background">
		<div class="content-wrapper">
			<div class="testimonialarea">
				<div class="testimonialarea-bubble">
					<div class="testimonial-widget">
						<h3 class="uppercase">Contacto</h3>
						<div class="testimonial">
							<p>
								Somos artesanos del mármol con amplia experiencia en el sector. Visítenos, en Mármoles La Moderna atendemos solicitudes de arquitectos, constructoras y público en general.
							</p>							
						</div>
					</div>
				</div>
				<div class="contactform-bubble">
					<form autocomplete="off" class="contactform" method="post" action="contact.php" id="contactform">
						<input name="name" type="text" placeholder="Nombre">
						<input name="email" type="text" placeholder="E-mail">
						<textarea name="comment" placeholder="Mensaje" rows="4"></textarea>
						<input value="ENVIAR" type="submit" id="submit" class="btnsend">
						<div class="done">
							<div class="alert-box success">
								<i>Mensaje enviado, responderemos a la brevedad</i>
							</div>
						</div>
					</form>
				</div>
				<div class="contactaddress-bubble">
					<div class="contactaddress">
						bv. G. Lehmann 875 Rafaela SANTA FE 2300<br/>
						<a class="map" href="#">Map</a>
					</div>
				</div>
			</div>
		
	</div>


		</section>
	</div>


	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/home.js"></script>
	<script src="js/testimonials.js"></script>

</body>
</html>